html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

*{
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0 var(--space);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}

.subtitle{
    font-weight: var(--subtitle-font-weight);
    font-size: var(--subtitle-font-size);
    color: var(--black);
}
