.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--space);
    border-radius: var(--half-space);
    border: var(--border);
    flex-direction: column;
    row-gap: var(--half-space);
}

.not-found .not-found__title{
    font-size: 1.25rem;
    font-weight: 500;
}

.not-found .not-found__description{
    font-size: 1rem;
    color: var(--grey);
}
