:root{
    --space: 16px;
    --half-space: calc(var(--space) / 2);
    --primary: #004181;
    --black: #000;
    --white: #fff;
    --title-font-size: 1.75rem;
    --title-font-weight: 600;
    --subtitle-font-size: 1.5rem;
    --subtitle-font-weight: 500;
    --time: .25s;
    --field-space: 4px;
    --grey: #959595;
    --border: 2px solid var(--black);
}
